<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="wordpress.net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="PhalangerHandler" path="*.php" verb="*" type="PHP.Core.RequestHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="../components/Phalanger"/>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <wordpress.net.Properties.Settings>
      <setting name="DB_NAME" serializeAs="String">
        <value>wp</value>
      </setting>
      <setting name="DB_USER" serializeAs="String">
        <value>wp</value>
      </setting>
      <setting name="DB_PASSWORD" serializeAs="String">
        <value>adminuser</value>
      </setting>
      <setting name="DB_HOST" serializeAs="String">
        <value>192.168.1.77</value>
      </setting>
      <setting name="DB_CHARSET" serializeAs="String">
        <value>utf8</value>
      </setting>
      <setting name="DB_COLLATE" serializeAs="String">
        <value />
      </setting>
      <setting name="AUTH_KEY" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="SECURE_AUTH_KEY" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="LOGGED_IN_KEY" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="NONCE_KEY" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="AUTH_SALT" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="SECURE_AUTH_SALT" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="LOGGED_IN_SALT" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="NONCE_SALT" serializeAs="String">
        <value>put your unique phrase here</value>
      </setting>
      <setting name="table_prefix" serializeAs="String">
        <value>wp_</value>
      </setting>
      <setting name="WPLANG" serializeAs="String">
        <value />
      </setting>
      <setting name="WP_DEBUG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ABSPATH" serializeAs="String">
        <value />
      </setting>
    </wordpress.net.Properties.Settings>
  </applicationSettings>
</configuration>